/**
 * detail详情页样式
 * @CSS Detail css
 * @copyright art
 * @author  shenbo<grubbyhunter@gmail.com>
 */
@import "./mixin.less";
.detail {
  width: @main-width;
  margin: 0 auto;

  .ant-breadcrumb {
    text-align: left;
    color: #000000;
    font-size: 15px;
    line-height: 45px;
    span,
    a {
      color: #000000;
    }
  }
}
