/**
 * 头部组件样式
 * @CSS Header css
 * @copyright art
 * @author  shenbo<grubbyhunter@gmail.com>
 */
@import "./mixin.less";

#header {
  width: @main-width;
  margin: 0 auto;

  ul.ant-menu {
    height: 60px;
    line-height: 60px;

    > li.ant-menu-item {
      padding: 0 20px;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
