/**
 * index首页样式
 * @CSS Index css
 * @copyright art
 * @author  shenbo<grubbyhunter@gmail.com>
 */
@import "./mixin.less";

.main {
  margin: 0 auto;
  width: 100%;

  .ant-carousel {
    .slick-dots {
      bottom: 20px;

      li {
        button {
          width: 30px;
          height: 5px;
        }

        &.slick-active {
          button {
            width: 50px;
          }
        }
      }
    }
    .slick-slide {
      img {
        width: 100%;
      }
    }
  }

  .tab-container {
    margin: 0 auto;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;

    ul.ant-menu {
      border: none;

      &.ant-menu-horizontal {
        > li.ant-menu-item-selected {
          border-bottom-color: @main-color;

          a {
            color: @main-color;
          }
        }

        .ant-menu-item {
          &:hover {
            border-bottom-color: @main-color;
            color: @main-color;
          }

          a {
            color: #333;
            &:hover {
              color: @main-color;
            }
          }
        }
      }

      display: inline-block;
      height: 75px;
      line-height: 75px;

      > li.ant-menu-item {
        padding: 0 30px;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }

  .info-list {
    width: @main-width;
    margin: auto;
    text-align: center;

    .info-container {
      h2 {
        margin: 40px 0 10px 0;
        color: #666;
        font-weight: bold;
      }

      .info-tag {
        height: 30px;
        line-height: 30px;
        font-size: 14px;

        ul {
          display: inline-block;
          list-style: none;

          li {
            display: inline-block;
            background-color: #ffa2c9;
            .radius(1rem);
            padding: 0 15px;
            color: #ffffff;
            margin: 0 5px;
            &:hover {
              cursor: pointer;
              background-color: #f7c6da;
            }
          }
        }

        .tag-more {
          color: #ffa2c9;
          float: right;
          height: 30px;
          display: block;
          text-decoration: underline;
        }
      }
    }
  }
}
