/**
 * index首页样式
 * @CSS Index css
 * @copyright art
 * @author  shenbo<grubbyhunter@gmail.com>
 */
@import "./mixin.less";

.main {
  margin: 0 auto;
  width: 100%;

  .ant-carousel {
    .slick-dots {
      bottom: 20px;

      li {
        button {
          width: 30px;
          height: 5px;
        }

        &.slick-active {
          button {
            width: 50px;
          }
        }
      }
    }
    .slick-slide {
      img {
        width: 100%;
      }
    }
  }
}
