/**
 * index首页样式
 * @CSS Index css
 * @copyright art
 * @author  shenbo<grubbyhunter@gmail.com>
 */
@import './mixin.less';

.list {
  width: @main-width;
  margin: 0 auto;

  .ant-breadcrumb {
    text-align: left;
    color: #000000;
    font-size: 15px;
    line-height: 45px;
    margin-left: 10px;
    span,
    a {
      color: #000000;
    }
  }

  .tab-container {
    margin: 0 10px;
    text-align: left;
    background-color: white;

    > div {
      display: inline-block;
    }

    .ant-tabs-bar {
      border: 0;
    }
  }
}
